<div class="login-page">
  <mat-card class="card mat-elevation-z14">
      <div class="card-header">
          <mat-card-title>Login</mat-card-title>
      </div>
      <form [formGroup]="login">
          <mat-card-content align="start" class="card-content">
              <mat-form-field color="primary-light"  class="formQ">
                  <mat-label>Enter your email</mat-label>
                  <input matInput text="accent" value="" formControlName="email" />
                  <mat-error *ngIf="login.controls['email'].invalid">
                    Email is invalid!
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="formQ">
                  <mat-label>Enter your Password</mat-label>
                  <input
                      type="password"
                      matInput
                      formControlName="password"
                  />
                   <mat-error *ngIf="login.controls['password'].invalid">
                     Password is invalid!
                   </mat-error>
              </mat-form-field>
          </mat-card-content>
      </form>
      <div class="card-actions">
          <button mat-raised-button  (click)="signInEmail()">
              Login
          </button>

          <button mat-raised-button (click)="onRegister()">
              Signup
          </button>
      </div>
  </mat-card>
</div>
